mat-toolbar {}

mat-sidenav {}

.content {
    height: calc(100vh - 98px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}